@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s linear;
}

main {
    height: 100vh;
    width: 100%;

    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.arrayContainer {
    height: 450px;
    width: 900px;
    /* background-color: blue; */
    background: linear-gradient(to bottom right, #d0b3ff, white);
    padding: 30px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
    /* border: 2px solid black; */
    border: none;
    border-spacing: 15px 15px;
}

input[type=button] {
    height: 60px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    background-color: #d9c1ff;
}

input[type=text] {
    height: 100%;
    width: 100%;
    padding: 18px;
    font-size: 19px;
}

input[type=button]:hover {
    border: 2px solid rgb(1, 4, 187);
    background-color: rgb(147, 72, 190);
}



/* responsive part css */



@media(max-width:740px) {
    .arrayContainer {
        padding: 10px 5px;
    }
}

@media(max-width:690px) {
    table {
        border-spacing: 5px 5px;
    }

    .arrayContainer {
        padding: 5px 5px;
        height: 390px;
        width: 650px;
    }
}

@media(max-width:650px) {
    input[type=button] {
        width: 80px;
    }

    .arrayContainer {
        width: 385px;
    }
}

@media(max-width:450px) {
    main {
        padding: 10px;
    }
}

@media(max-width:400px) {
    input[type=button] {
        font-size: 14px;
        width: 70px;
    }

    .arrayContainer {
        width: 320px;
        height: 350px;
    }

    input[type=text] {
        padding: 12px;
        font-size: 20px;
    }
}